/*Homepage css*/
div.element-container.css-kljn8d.e1tzin5v3{
    text-align: justify;
}

div.css-ks98do.e16nr0p33 {
    text-align: justify;
}
/*Homepage css iamge*/
div.css-1a32fsj.e19lei0e0{
    padding-top: 5em;
}

span.css-10trblm.e16nr0p30{
    background-color: #234362;
    color: #FFFFFF;
}

